@font-face {
	font-family: "Ubuntu";
	src: url("../src/assets/fonts/Ubuntu-Medium.ttf"),
		url("../src/assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
	font-family: "Eina";
	src: url("../src/assets/fonts/Eina_01_Bold.otf");
}
.schedule-content {
	border: 3px solid black;
	height: 70vh;
	overflow: scroll;
	margin-bottom: 40px;
}
.time {
	margin-right: 70px;
}
.header {
	padding: 35px;
	width: 100%;
}
.header img {
	width: 300px;
}
.schedule {
	margin: auto;
	text-align: center;
	width: 700px;
}
.schedule h1 {
	font-family: "Eina";
}
.schedule-content {
	border-radius: 20px;
	width: auto;
	font-family: "Ubuntu", Fallback, sans-serif;
}
.schedule-content-top {
	display: flex;
	font-family: "Eina";
}
.schedule-content-top h5 {
	justify-content: start;
	width: 300px;
	text-align: start;
	margin: 20px 0 0 20px;
}
.stop-name {
	width: 50%;
}
.lines {
	width: 50%;
	display: flex;
	justify-content: end;
	margin: 20px 20px 0 0;
}
.logo-line {
	height: 30px;
	margin-left: 10px;
}
.schedules-by-destination {
	margin-top: 10px;
	display: flex;
}
.destination {
	display: flex;
	margin-top: 20px;
}
.destination img {
	width: 40px;
	height: 30px;
}
.departure-content {
	width: 100%;
	padding: 0 30px 0 30px;
}
.direction {
	margin-left: 15px;
	width: auto;
	font-size: 25px;
	font-weight: 700;
}
.departures {
	width: 100%;
	display: flex;
	text-align: start;
	margin-top: 10px;
}
.all-departures {
	justify-content: flex-start;
	margin-right: 60px;
	margin-left: 30px;
	width: 100%;
}
.departure {
	width: 70px;
	font-weight: bold;
}
.green {
	color: green;
}

@media screen and (max-width: 1024px) {
	.schedule {
		width: 70%;

	}
	.all-departures {
		margin: 20px;
	}
	.schedule-content {
		height: 80vh;
	}
	.stop-name {
		font-size: 25px;
	}
}

@media screen and (max-width: 768px) {
	.schedule {
		width: 80%;
		
	}

}

@media screen and (max-width: 640px) {
	.schedule {
		width: 90%;
	}
	.all-departures {
		margin: 0;
	}
	.departure {
		width: 80px;
	}
	.direction {
		font-size: 20px;
	}
	.all-departures {
		margin: 0;
	}
	.schedule-content {
		height: 80vh;
		margin-top: 20px;
	}
	.logo-line {
		width: 35px;
		height: auto;
	}
}
