@font-face {
	font-family: "Ubuntu";
	src: url("../src//assets//fonts/Ubuntu-Bold.ttf") format("bold"),
		url("../src//assets//fonts/Ubuntu-Medium.ttf") format("medium");
}
.schedule-content {
	border: 3px solid black;
	height: 70vh;
	overflow: scroll;
}
* {
	font-weight: bold;
	font-family: 'MyWebFont', Fallback, sans-serif;
}
.time {
	margin-right: 4vw;
}
.header {
	padding: 2vw;
	width: 18vw;
}
.header img {
	width: 18vw;
}
.schedule {
	margin: auto;
	text-align: center;
	width: 43vw;
}
.schedule-content {
	border-radius: 20px;
	width: auto;
}
.schedule-content-top {
	display: flex;
}
.schedule-content-top h5 {
	justify-content: start;
	width: 50%;
	text-align: start;
	margin: 4% 0 0 4%;
}
.stop-name {
	font-weight: 800;
}
.lines {
	width: 50%;
	text-align: end;
	margin: 4% 4% 0 0;
}
.logo-line {
	height: 3vh;
	margin-left: 2%;
}
.schedules-by-destination {
	margin-top: 2%;
	margin-bottom: 2;
	display: flex;
}
.destination {
	display: flex;
	margin-top: 1vh;
}
.destination img {
	width: 40px;
	height: 30px;
}
.departure-content {
	width: 100%;
	padding: 0 4% 0 4%;
}
.direction {
	margin-left: 1vw;
	width: auto;
	font-size: 2.5vh;
	font-weight: 700;
}
.departures {
	width: 100%;
	display: flex;
	text-align: start;
	margin-top: 1vh;
}
.all-departures {
	margin-left: 1.5vw;
	margin-right: 3vw;
	width: 100%;
}
.departure {
	width: 6vw;
}
.green {
	color: green;
}

@media screen and (max-width: 1024px) {
	.schedule {
		width: 60vw;
	}
	.all-departures {
		margin-right: 10vw;
	}
	.departure {
		width: 8vw;
	}
	.schedule-content {
		height: 80vh;
		margin-top: 2vh;
	}
	.stop-name {
		font-size: 1.7vh;
	}
}

@media screen and (max-width: 768px) {
	.schedule {
		width: 70vw;
	}
	.departure {
		width: 10vw;
	}
	.stop-name {
		font-size: 1.6vh;
	}
}

@media screen and (max-width: 640px) {
	.schedule {
		width: 80vw;
	}
	.departure {
		width: 14vw;
	}
	.direction {
		font-size: 3.5vw;
	}
	.schedule-content {
		height: 80vh;
		margin-top: 2vh;
	}
}
